/* arzg.github.io/castlerock CSS */

/*
 * Layout
 */

/* Set a nice, large font size */
html { font-size: 20px }

/* Larger font size at desktop fullscreen */
@media all and (min-width:1000px) {
  html { font-size: 23px }
}

/* Fix up spacing and padding */
* {
  margin: 0;
  padding: 0;
}

/* Space body properly */
body {
  margin: 1.5rem;    /* A little padding top and bottom */
  min-height: 100%;  /* Make body take up the entirety of the div it's in */
  width: 100%;
  margin-left: auto; /* Make margins even */
  margin-right: auto;
  max-width: 42rem;  /* Don't resize after 1000px */
}

/* Some small margins either side */
#container {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

/* Make space for the sidebar */
#content {
  margin-left: 7.5rem;
}

#sidebar {
  width: 6rem;
  position: fixed;
  text-align: right;
}

/*
 * Mobile view
 */

/* Add a bit more space at the top and bottom of the page for mobile to prevent the title
 * from hiding the page content */
@media all and (max-width:600px) {
  body {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

/* Hide mobile view if not in mobile view */
@media all and (min-width:600px) {
  #mobiletitlediv { display: none }
  #mobilebuttondiv { display: none }
}

/* Hide normal sidebar and show mobile UI in mobile view */
@media all and (max-width:600px) {
  #sidebar { display: none }
  #content { margin-left: 0 }
  #mobiletitlediv { display: block }
  #mobilebuttondiv { display: block }
}

#mobiletitlediv {
  position: fixed;
  width: 100%;
  top: 0;
  height: 150px;
  background: linear-gradient(0deg, rgba(245,243,240,0) 0%, rgba(245,243,240,1) 73%, rgba(245,243,240,1) 100%);
}

#mobiletitle {
  position: relative;
  top: 15px;
  margin-right: 3rem;
  font-family: arno-pro-small-text;
  font-size: 1.1rem;
}

#mobilebuttondiv {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 150px;
  background: linear-gradient(180deg, rgba(245,243,240,0) 0%, rgba(245,243,240,1) 73%, rgba(245,243,240,1) 100%);
}

#mobilebutton {
  position: relative;
  bottom: -110px;
}

/*
 * Type
 */

/* Basic typographic settings */

body {
  font-family: arno-pro; /* Use Arno Pro from TypeKit */
  font-size: 1rem;       /* Make sure we're at the correct size */
  line-height: 1.35;     /* A nice, readable line height */
  hyphens: auto;         /* Hyphenate automatically */
}
p {
  margin-bottom: 1em     /* Leave space after p's equal to the font size */
}

/* Lower contrast by making the text dark brown and the background light
 * grey/sepia */
body {
  color: #251705;
  background-color: #f5f3f0;
}

/* Use the Small Text optical size in mobile view */
@media all and (max-width:600px) {
  body { font-family: arno-pro-small-text }
}

/* A bunch of OpenType features */
body {
  -webkit-font-feature-settings:
    "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
     -moz-font-feature-settings:
    "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
      -ms-font-feature-settings:
    "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
          font-feature-settings:
    "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
}

/* Use semibold as the bold weight */
b,
strong {
  font-style: normal;
  font-weight: 600;
}

/* Select in a blue colour */
::selection { background: #b4d5fe }

/* Title */

/* Make the title slightly larger than normal text */
.title {
  font-family: arno-pro-subhead;
  font-size: 1.2rem;
  line-height: 1.2;
}

/* Make the title smaller (and adjust its optical size accordingly) when space
 * for the sidebar is running out */
@media all and (max-width:675px) {
  .title {
    font-family: arno-pro;
    font-size: 1rem;
  }
}

/* Headings */

h1 {
  font-size: 1.1rem;
  font-weight: normal;
  -webkit-font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
     -moz-font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
      -ms-font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
          font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
  letter-spacing: 0.07em;
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  margin-top: 1.2rem;
  margin-bottom: 0.9rem;
}

/* Abbreviations */

/* Small-caps */
abbr {
  -webkit-font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
     -moz-font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
      -ms-font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
          font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
  letter-spacing: 0.05em;
}

/* Remove dotted underline */
abbr[title] {
  text-decoration: none;
}

/* Show a help cursor */
abbr[title] {
  cursor: help;
}

/* Lists */

/* Add space after lists */
ul,
ol {
  margin-bottom: 1rem;
}

/* Links */

/* Links that clear descenders, don't respond to clicking or hovering, don't
 * indicate if they we're visited, and have a pleasant, light underline. */
p  > a:link,
p  > a:visited,
li > a:link,
li > a:visited {
  color: inherit;
  text-decoration: none;
  background:
    -webkit-linear-gradient(#fff, #fff),
    -webkit-linear-gradient(#fff, #fff),
    -webkit-linear-gradient(#aaa, #aaa);
  background:
       -moz-linear-gradient(#fff, #fff),
       -moz-linear-gradient(#fff, #fff),
       -moz-linear-gradient(#aaa, #aaa);
  background:
        -ms-linear-gradient(#fff, #fff),
        -ms-linear-gradient(#fff, #fff),
        -ms-linear-gradient(#aaa, #aaa);
  background:
            linear-gradient(#fff, #fff),
            linear-gradient(#fff, #fff),
            linear-gradient(#aaa, #aaa);
  -webkit-background-size:
    0.05em 1px,
    0.05em 1px,
    1px    1px;
     -moz-background-size:
    0.05em 1px,
    0.05em 1px,
    1px    1px;
      -ms-background-size:
    0.05em 1px,
    0.05em 1px,
    1px    1px;
          background-size:
    0.05em 1px,
    0.05em 1px,
    1px    1px;
  background-repeat:
    no-repeat,
    no-repeat,
    repeat-x;
  text-shadow:
    0.03em  0       #fff,
    -0.03em 0       #fff,
    0       0.03em  #fff,
    0       -0.03em #fff,
    0.06em  0       #fff,
    -0.06em 0       #fff,
    0.09em  0       #fff,
    -0.09em 0       #fff,
    0.12em  0       #fff,
    -0.12em 0       #fff,
    0.15em  0       #fff,
    -0.15em 0       #fff;
  background-position:
    0%   85%,
    100% 85%,
    0%   85%;
}

/* Hide the way the links were created when highlighting */
p  > a:link::selection,
p  > a:visited::selection,
li > a:link::selection,
li > a:visited::selection {
  text-shadow:
    0.03em  0       #b4d5fe,
    -0.03em 0       #b4d5fe,
    0       0.03em  #b4d5fe,
    0       -0.03em #b4d5fe,
    0.06em  0       #b4d5fe,
    -0.06em 0       #b4d5fe,
    0.09em  0       #b4d5fe,
    -0.09em 0       #b4d5fe,
    0.12em  0       #b4d5fe,
    -0.12em 0       #b4d5fe,
    0.15em  0       #b4d5fe,
    -0.15em 0       #b4d5fe;
  background: #b4d5fe;
}

/* Make headings start with a small markdown hashtag */

/* Actually add the hashtag */
h1 > a::after {
  content: " #";
}
h2 > a::after {
  content: " ##";
}

/* When the mouse is not on the headings */
h1 > a::after,
h2 > a::after {
  color: rgba(0, 0, 0, 0);   /* Hide the hashtags */
  transition-duration: 0.5s; /* Animate fade */
  font-style: normal;        /* Disable italic if it has been enabled */
}

/* Format the hashtags */
h1 > a:hover::after,
h2 > a:hover::after {
  color: rgba(0, 0, 0, 0.5); /* Animate into a nice, transparent grey */
}

/* Remove link formatting from headings */
h1 > a,
h2 > a {
  text-decoration: none;
  color: inherit;
}

/* Smooth-scrolling */

html { scroll-behavior: smooth }

/* Fade on load */

body {
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
     -moz-transition: opacity 0.7s ease-in-out;
      -ms-transition: opacity 0.7s ease-in-out;
          transition: opacity 0.7s ease-in-out;
}

/* Hero image */

/* Add spacing above the image to match the spacing added below it by the
 * heading */
#hero {
  margin-top: 0.35rem;
}

/* Nice shadow that increases upon hover */
#hero {
  -webkit-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.34);
     -moz-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.34);
      -ms-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.34);
          box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.34);
  transition: 350ms cubic-bezier(0.18, 0.49, 0.3, 0.96);
}
#hero:hover {
  -webkit-box-shadow: 0px 5px 31px -4px rgba(0,0,0,0.7);
     -moz-box-shadow: 0px 5px 31px -4px rgba(0,0,0,0.7);
      -ms-box-shadow: 0px 5px 31px -4px rgba(0,0,0,0.7);
          box-shadow: 0px 5px 31px -4px rgba(0,0,0,0.7);
  transform: translate(0px, -2px)
}

/* Sidebar button */

.audiobutton {
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0.15rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  transition: 200ms ease-out;
  -webkit-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
      -ms-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);

  -webkit-font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
      -moz-font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
      -ms-font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
          font-feature-settings:
    "c2sc" 1, "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1, "smcp" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  text-decoration: none;

  color: #fff;
  background-color: rgb(209, 55, 6)
}

.audiobutton:hover {
  -webkit-box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.75);
      -ms-box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.75);
          box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.75);
  transform: translate(0px, -1px)
  background-color: rgb(231, 78, 29);
}

.audiobutton:active {
  -webkit-box-shadow: 0px 3px 10px -4px rgba(0,0,0,1);
     -moz-box-shadow: 0px 3px 10px -4px rgba(0,0,0,1);
      -ms-box-shadow: 0px 3px 10px -4px rgba(0,0,0,1);
          box-shadow: 0px 3px 10px -4px rgba(0,0,0,1);
  background-color: rgb(176, 43, 0);
}
